<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- createjs -->
  <script src="../node_modules/createjs/builds/createjs-2015.11.26.min.js"></script>
  <!-- vue -->
  <script src="../node_modules/vue/dist/vue.min.js"></script>
  <!-- geojs -->
  <script src="../lib/geojs.js"></script>

  <style>
    #coordsTT {
      position: absolute;
    }
  </style>
</head>

<body>
  <div id="app">
    <canvas id="paper" width="800" height="500" style="border: 1px solid #000" onmousemove="showCoords(event)" outmouse="hideCoords()"></canvas>
    <i id="coordsTT" data-toggle="tooltip" data-placement="right" data-animation="false" data-trigger="manual">
    </i>
    <form class="form-inline">
      <label class="sr-only">Start Point</label>
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="start point(x1)" v-model="rx1">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="start point(y1)" v-model="ry1">
      <label class="sr-only">Size</label>
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="width" v-model="rw">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="length" v-model="rl">
      <button type="button" class="btn btn-primary mb-2" v-on:click="drawRect">Draw Rectangle</button>
    </form>
    <br>
    <button type="button" class="btn btn-primary mb-2" v-on:click="clear">Clear</button>
    <button type="button" class="btn btn-primary mb-2" v-on:click="calculate">Calculate</button>
    <p>perimeter: {{result.perimeter}} <br> area: {{result.area}}</p>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        rx1: 100,
        ry1: 100,
        rw: 100,
        rl: 100,

        stage: null,
        rect: null,

        result:{},
      },
      mounted: function () {
        this.stage = new createjs.Stage("paper");
      },
      methods: {
        drawRect: function () {
          if (this.rect != null) {
            this.stage.removeChild(this.rect);
          }
          this.rect = new createjs.Shape();
          this.rect.graphics.beginStroke("DeepSkyBlue");
          this.rect.graphics.drawRect(this.rx1, this.ry1, this.rw, this.rl);
          this.rect.graphics.endStroke();
          this.stage.addChild(this.rect);
          this.stage.update();
        },
        clear: function () {
          this.stage.removeAllChildren();
          this.stage.update();
        },
        calculate: function () {
          this.result = geojs.perimeterAndAreaOfRect(this.rw, this.rl);
          }
      }
    });
    function showCoords(event) {
      var x = event.clientX;
      var y = event.clientY;
      var coords = x + ',' + y;
      document.getElementById("coordsTT").innerHTML = coords;
    }
    $("#paper").on('mousemove', function (e) {
      $("#coordsTT").css({ top: e.pageY, left: e.pageX });
      $('[data-toggle="tooltip"]').tooltip('show')
    })
    $("#paper").on('mouseleave', function (e) {
      $('[data-toggle="tooltip"]').tooltip('hide')
    })
  </script>
</body>