<html>
  <head>
      <meta charset="utf-8"> 
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <!-- createjs -->
        <script src="../node_modules/createjs/builds/createjs-2015.11.26.min.js"></script>
        <!-- vue -->
        <script src="../node_modules/vue/dist/vue.min.js"></script>
  </head>
  <body>
      <div id="app">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="x1" v-model="x1">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="y1" v-model="y1">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="x2" v-model="x2">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="y2" v-model="y2">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="x3" v-model="x3">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="y3" v-model="y3">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="x4" v-model="x4">
      <input type="text" class="form-control mb-2 mr-sm-2" placeholder="y4" v-model="y4">
      <button type="button" class="btn btn-primary mb-2" v-on:click="calculate">Calculate</button>
      
        <p id = "crXY"></p>
        <p id = "message"></p>
      </div>

    <script>
    var app = new Vue({
      el: '#app',
      data: {
        x1: 214, 
        y1: 236,
        x2: 567,
        y2: 300,
        x3: 200,
        y3: 100,
        x4: 560,
        y4: 430,
        
        crX: null,
        crY: null,
      },
      methods: {
       calculate: function () {
            this.crX = (this.y3  - this.y1 - this.x3 * (this.y4 - this.y3)/(this.x4 - this.x3) + this.x1 * (this.y2 - this.y1)/(this.x2 - this.x1)) / ((this.y2 - this.y1)/(this.x2 - this.x1) - (this.y4 - this.y3)/(this.x4 - this.x3));
            this.crY = (this.y2 - this.y1) / (this.x2 - this.x1) * (this.y3 - this.x3 * (this.y4 - this.y3) / (this.x4 - this.x3) - this.y1 + this.x1 * (this.y2 - this.y1) / (this.x2 - this.x1)) / ((this.y2 - this.y1) / (this.x2 - this.x1) - (this.y4 - this.y3) / (this.x4 - this.x3)) + this.y1 - this.x1 * (this.y2 - this.y1) / (this.x2 - this.x1);
            var cRX = this.crX;
            var cRY = this.crY;
            document.getElementById("crXY").innerHTML = cRX + ' , ' + cRY;
      },
      },
    });
          </script>
          </body>